[jira]
server = https://jira.example.com
project = INV
rsa-private-key = testkey.pem

[fields]
# Put in your own jira fields for these
inventory_number = customfield_11012
serial_number = customfield_11007
purchase_date = customfield_11302
warranty_end_date = customfield_11303
manufacture_date = customfield_11304
model_identifier = customfield_11308
summary = summary

